In [2]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [43]:
## Read one file and adjust 'skiprows'

file = "2. A Rooms_Marketing_20180101-20180331.xlsx"
Q1_2018 = pd.read_excel(file, skiprows=6)
Q1_2018.head()

,Day,Site Key,Site Name,Ad Spend,Impressions,Clicks,Room Orders,Room Revenue*,Room Nights,Measurable Impressions,Viewable Impressions
0,2018-01-01,1506504,smartervegas.com,161.290323,0.0,46.0,2,875.669643,4,NaN,NaN
1,2018-01-01,1506505,TripAdvisor,2437.214000,93739.0,135.0,5,3057.250000,12,91789.0,70128.0
2,2018-01-01,1506499,kayak.com,263.420000,30263.0,56.0,2,1593.410714,7,8591.0,3819.0
3,2018-01-01,1506508,yelp.com,15.483871,0.0,54.0,0,0.000000,0,NaN,NaN
4,2018-01-01,Search,Search,0.000000,NaN,NaN,0,0.000000,0,NaN,NaN

In [4]:
## Combine all files via loop and store it as a combined data frame called 'all_data'

file_list = ["2. A Rooms_Marketing_20180101-20180331.xlsx", "2. A Rooms_Marketing_20180401-20180630.xlsx", \
             "2. A Rooms_Marketing_20180701-20180930.xlsx", "2. A Rooms_Marketing_20181001-20181231.xlsx", \
             "2. A Rooms_Marketing_20190101-20190331.xlsx","2. A Rooms_Marketing_20190401-20190630.xlsx", \
             "2. A Rooms_Marketing_20190701-20190930.xlsx"]

all_data = pd.DataFrame()

for file in file_list:
    df = pd.read_excel(file, skiprows=6)
    all_data = all_data.append(df, ignore_index=True)

In [45]:
## Check if it worked and overall stats

# all_data.head()
# all_data.describe()
all_data.shape

(19161, 11)

In [46]:
# Cleaning null values

clean = all_data.dropna(subset=['Ad Spend', 'Room Revenue*'])
clean.shape

,Day,Site Key,Site Name,Ad Spend,Impressions,Clicks,Room Orders,Room Revenue*,Room Nights,Measurable Impressions,Viewable Impressions
0,False,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,True,True,False,False,False,True,True

In [53]:
clean.to_excel('output1.xlsx')

In [7]:
## Dropped Null values from ad spend and revenue column as a start

clean_simple_df = all_data.dropna(subset=['Ad Spend', 'Room Revenue*', 'Impressions', 'Clicks', 'Viewable Impressions'])

clean_simple_df.isna().head()

,Day,Site Key,Site Name,Ad Spend,Impressions,Clicks,Room Orders,Room Revenue*,Room Nights,Measurable Impressions,Viewable Impressions
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False

In [11]:
# X = all_data["weight"].values.reshape(-1, 1)
# y = all_data["size"].values.reshape(-1, 1)


X = clean_simple_df[["Ad Spend", "Impressions", "Clicks", "Viewable Impressions"]]
y = clean_simple_df["Room Revenue*"].values.reshape(-1, 1)

print("Shape: ", X.shape, y.shape)

Shape:  (7512, 4) (7512, 1)

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

model = LinearRegression()

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [14]:
# Use our model to make predictions
predicted = model.predict(X_test)

# Score the predictions with mse and r2
mse = mean_squared_error(y_test, predicted)
r2 = r2_score(y_test, predicted)

print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (R2 ): {r2}")

Mean Squared Error (MSE): 37545791.00919602
R-squared (R2 ): 0.15612272566903618

In [15]:
model.score(X, y)

0.16464066665152233

In [16]:
model.score(X_train, y_train)
model.score(X_test, y_test)

0.15612272566903618

In [25]:
## test for one publisher
trade_desk = clean_simple_df.loc[clean_simple_df['Site Name']=='The Trade Desk']
trade_desk.head()

,Day,Site Key,Site Name,Ad Spend,Impressions,Clicks,Room Orders,Room Revenue*,Room Nights,Measurable Impressions,Viewable Impressions
10,2018-01-01,1889304,The Trade Desk,1899.658308,96619.0,168.0,8,8671.633929,31.0,82918.0,54617.0
24,2018-01-02,1889304,The Trade Desk,2128.555933,90854.0,153.0,10,8139.187500,34.0,80631.0,56445.0
49,2018-01-03,1889304,The Trade Desk,2088.023260,84084.0,104.0,14,8919.687500,33.0,73677.0,51118.0
74,2018-01-04,1889304,The Trade Desk,2213.009810,96404.0,105.0,25,20460.267857,74.0,82421.0,56954.0
101,2018-01-05,1889304,The Trade Desk,1918.672377,97065.0,100.0,25,17243.098214,64.0,80896.0,54847.0

In [39]:
X_trade_desk = trade_desk[["Ad Spend", "Impressions", "Clicks", "Viewable Impressions"]]
y_trade_desk = trade_desk["Room Revenue*"].values.reshape(-1, 1)

print("Shape: ", X_trade_desk.shape, y_trade_desk.shape)

Shape:  (632, 4) (632, 1)

In [40]:
model = LinearRegression()

X_train, X_test, y_train, y_test = train_test_split(X_trade_desk, y_trade_desk, random_state=42)

In [41]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [38]:
# Use our model to make predictions
predicted = model.predict(X_test)

# Score the predictions with mse and r2
mse = mean_squared_error(y_test, predicted)
r2 = r2_score(y_test, predicted)

print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (R2 ): {r2}")

Mean Squared Error (MSE): 19602639.34513716
R-squared (R2 ): 0.1723631205788646